/*
  @include screenView(biggest) //{ (1654px)
    }
    @include screenView(big) { //(1251px)
    }
    @include screenView(big-small) { //(1270px)
    }
    @include screenView(medium-big) { //(1105px)
    }
    @include screenView(medium) { //(877px)
    }
    @include screenView(medium-small) { //(830px)
    }
      @include screenView(small) { //(665px)
      }
    @include screenView(smallest) { //(459)
    }
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  position: relative;
}

.container1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 5rem;
}
@media (max-width: 1105px) {
  .container1 {
    padding-top: 2rem;
  }
}
@media (max-width: 830px) {
  .container1 {
    background-position: 90%;
  }
}
.container1__div-master {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  width: 60%;
}
@media (max-width: 1654px) {
  .container1__div-master {
    width: 65%;
  }
}
@media (max-width: 1410px) {
  .container1__div-master {
    width: 70%;
  }
}
@media (max-width: 1290px) {
  .container1__div-master {
    width: 80%;
  }
}
@media (max-width: 1105px) {
  .container1__div-master {
    width: 85%;
  }
}
@media (max-width: 877px) {
  .container1__div-master {
    width: 95%;
  }
}
@media (max-width: 830px) {
  .container1__div-master {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
    width: 95%;
  }
}
@media (max-width: 665px) {
  .container1__div-master {
    width: 100%;
  }
}
.container1__div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: wrap;
  width: 45%;
  background-color: white;
  box-shadow: inset 0rem 0rem 2rem rgb(100.1644736842, 102.8355263158, 102.8355263158);
  position: relative;
  padding: 2rem;
  border-radius: 3rem;
  margin-right: -5rem;
}
@media (max-width: 1410px) {
  .container1__div {
    width: 45%;
  }
}
@media (max-width: 1290px) {
  .container1__div {
    max-width: 60%;
  }
}
@media (max-width: 1105px) {
  .container1__div {
    max-width: 45%;
  }
}
@media (max-width: 877px) {
  .container1__div {
    padding: 1.5rem;
    max-width: 50%;
  }
}
@media (max-width: 830px) {
  .container1__div {
    margin-right: 0rem;
    min-width: 50%;
  }
}
@media (max-width: 665px) {
  .container1__div {
    min-width: 60%;
  }
}
@media (max-width: 459px) {
  .container1__div {
    min-width: 85%;
  }
}
.container1__img {
  position: absolute;
  background-color: white;
  box-shadow: 0rem 0rem 1rem #4b4d4d;
  padding: 1rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  right: -2rem;
  top: -2rem;
}
@media (max-width: 1654px) {
  .container1__img {
    width: 5.5rem;
    height: 5.5rem;
  }
}
@media (max-width: 1105px) {
  .container1__img {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 877px) {
  .container1__img {
    width: 4.5rem;
    height: 4.5rem;
    right: -1rem;
    top: -1rem;
  }
}
@media (max-width: 665px) {
  .container1__img {
    width: 5rem;
    height: 5rem;
  }
}
.container1__h1 {
  font-size: 4.5rem;
  text-align: center;
  color: #1c415c;
  margin-bottom: 1rem;
  width: 95%;
}
@media (max-width: 1654px) {
  .container1__h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1290px) {
  .container1__h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1105px) {
  .container1__h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 877px) {
  .container1__h1 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
  }
}
@media (max-width: 665px) {
  .container1__h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}
.container1__p {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: rgb(49.8355263158, 51.1644736842, 51.1644736842);
  margin-bottom: 1rem;
}
@media (max-width: 1654px) {
  .container1__p {
    font-size: 2.5rem;
  }
}
@media (max-width: 1105px) {
  .container1__p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 877px) {
  .container1__p {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }
}
@media (max-width: 665px) {
  .container1__p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
.container1__ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  list-style: none;
  margin: 1rem 0rem;
}
@media (max-width: 1654px) {
  .container1__ul {
    font-size: 1.8rem;
  }
}
@media (max-width: 1105px) {
  .container1__ul {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 877px) {
  .container1__ul {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
  }
}
@media (max-width: 665px) {
  .container1__ul {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
.container1__ul li {
  color: rgb(100.1644736842, 102.8355263158, 102.8355263158);
}
.container1__ul svg {
  color: #038fc2;
}
.container1__ul span {
  font-weight: 700;
  color: #4b4d4d;
}
.container1__h2 {
  font-size: 2rem;
  color: #4b4d4d;
  margin-top: 0.5rem;
}
@media (max-width: 1654px) {
  .container1__h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1105px) {
  .container1__h2 {
    font-size: 1.8rem;
    margin-top: 0rem;
  }
}
@media (max-width: 877px) {
  .container1__h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}
@media (max-width: 665px) {
  .container1__h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}
.container1__button {
  background-color: #ffd24a;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  margin: 1rem 0rem 0rem 0rem;
  border: 0.2rem solid rgb(99.5, 74.7624309392, 0);
  border-bottom-width: 0.4rem;
  border-right-width: 0.4rem;
  cursor: pointer;
}
.container1__button:hover {
  border: 0.3rem solid rgb(99.5, 74.7624309392, 0);
}
@media (max-width: 1654px) {
  .container1__button {
    font-size: 1.6rem;
  }
}
@media (max-width: 1105px) {
  .container1__button {
    font-size: 1.5rem;
    margin: 1rem 0rem 0.5rem 0rem;
  }
}
@media (max-width: 877px) {
  .container1__button {
    font-size: 1.2rem;
    margin: 0.5rem 0rem 0rem 0rem;
  }
}
@media (max-width: 665px) {
  .container1__button {
    font-size: 1.5rem;
    margin: 1rem 0rem 0.5rem 0rem;
  }
}
.container1__div2 {
  width: 60%;
}
@media (max-width: 877px) {
  .container1__div2 {
    width: 70%;
  }
}
.container1__div2__img {
  width: 100%;
}
@media (max-width: 1290px) {
  .container1__div2__img {
    width: 100%;
  }
}
@media (max-width: 877px) {
  .container1__div2__img {
    width: 90%;
    margin-left: 6rem;
  }
}
@media (max-width: 665px) {
  .container1__div2__img {
    margin-left: 5rem;
  }
}
@media (max-width: 459px) {
  .container1__div2__img {
    width: 105%;
    margin-left: 0rem;
  }
}

.container2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  background-color: rgb(215.7401315789, 216.7598684211, 216.7598684211);
  padding: 5rem 0rem;
}
@media (max-width: 1105px) {
  .container2 {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 877px) {
  .container2 {
    padding: 1.5rem 0rem;
  }
}
.container2__div3 {
  width: 60%;
}
@media (max-width: 1654px) {
  .container2__div3 {
    width: 80%;
  }
}
.container2__div3__p {
  font-size: 1.5rem;
  font-weight: 100;
  color: rgb(100.1644736842, 102.8355263158, 102.8355263158);
}
@media (max-width: 1105px) {
  .container2__div3__p {
    font-size: 1.2rem;
  }
}
@media (max-width: 877px) {
  .container2__div3__p {
    font-size: 1rem;
  }
}
@media (max-width: 665px) {
  .container2__div3__p {
    font-size: 1.2rem;
  }
}

.container3 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  margin: 5rem 0rem;
}
.container3__div1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  gap: 0rem;
  width: 60%;
  margin-bottom: 3rem;
}
@media (max-width: 1654px) {
  .container3__div1 {
    width: 65%;
  }
}
@media (max-width: 1410px) {
  .container3__div1 {
    width: 70%;
  }
}
@media (max-width: 1290px) {
  .container3__div1 {
    width: 80%;
  }
}
@media (max-width: 1105px) {
  .container3__div1 {
    width: 95%;
  }
}
@media (max-width: 877px) {
  .container3__div1 {
    width: 99%;
  }
}
@media (max-width: 830px) {
  .container3__div1 {
    margin-bottom: 0rem;
  }
}
@media (max-width: 665px) {
  .container3__div1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    width: 100%;
  }
}
.container3__div1__svg {
  position: relative;
}
.container3__div1__svg svg {
  width: 6rem;
  height: 6rem;
  font-weight: 700;
  color: #ffd24a;
}
@media (max-width: 665px) {
  .container3__div1__svg svg {
    width: 4rem;
    height: 4rem;
  }
}
.container3__div1__svg svg:last-child {
  margin-left: -4.5rem;
}
@media (max-width: 665px) {
  .container3__div1__svg svg:last-child {
    margin-left: -3rem;
  }
}
.container3__div1__h1 {
  font-size: 5rem;
  font-weight: 100;
}
@media (max-width: 877px) {
  .container3__div1__h1 {
    font-size: 4rem;
    margin-left: 0rem;
  }
}
@media (max-width: 830px) {
  .container3__div1__h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 665px) {
  .container3__div1__h1 {
    font-size: 3rem;
  }
}
.container3__div1__h1 span {
  font-weight: 700;
  color: #256783;
}
.container3__div2 {
  display: grid;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  width: 60%;
}
@media (max-width: 1654px) {
  .container3__div2 {
    width: 65%;
  }
}
@media (max-width: 1410px) {
  .container3__div2 {
    width: 70%;
  }
}
@media (max-width: 1290px) {
  .container3__div2 {
    width: 80%;
  }
}
@media (max-width: 1105px) {
  .container3__div2 {
    width: 95%;
  }
}
@media (max-width: 877px) {
  .container3__div2 {
    width: 99%;
  }
}
@media (max-width: 830px) {
  .container3__div2 {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
  }
  .container3__div2 .container3 {
    width: fit-content;
  }
  .container3__div2 .container3__div2__div2 {
    grid-column: span 2;
    grid-row: 3;
    align-self: center;
  }
}
@media (max-width: 665px) {
  .container3__div2 {
    grid-template-columns: repeat(1, 60%);
    text-align: justify;
  }
  .container3__div2 .container3 {
    width: max-content;
  }
  .container3__div2 .container3__div2__div2 {
    grid-column: 1;
    grid-row: 5;
  }
}
@media (max-width: 459px) {
  .container3__div2 {
    grid-template-columns: repeat(1, 85%);
  }
}
.container3__div2__div1, .container3__div2__div3, .container3__div2__div4, .container3__div2__div5 {
  margin-bottom: 5rem;
  width: 50%;
}
@media (max-width: 830px) {
  .container3__div2__div1, .container3__div2__div3, .container3__div2__div4, .container3__div2__div5 {
    margin-bottom: 0rem;
  }
}
.container3__div2__div1 div, .container3__div2__div3 div, .container3__div2__div4 div, .container3__div2__div5 div {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  margin-top: 5rem;
  color: #256783;
  margin-bottom: 1rem;
  width: max-content;
}
.container3__div2__div1 div svg, .container3__div2__div3 div svg, .container3__div2__div4 div svg, .container3__div2__div5 div svg {
  width: 4rem;
  height: 4rem;
}
.container3__div2__div1 div h2, .container3__div2__div3 div h2, .container3__div2__div4 div h2, .container3__div2__div5 div h2 {
  font-size: 2.5rem;
}
.container3__div2__div1 p, .container3__div2__div3 p, .container3__div2__div4 p, .container3__div2__div5 p {
  font-size: 1.8rem;
  color: #4b4d4d;
  width: 190%;
}
.container3__div2__div1 p span, .container3__div2__div3 p span, .container3__div2__div4 p span, .container3__div2__div5 p span {
  font-weight: 700;
}
.container3__div2__div2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  grid-row: span 3;
}
.container3__div2__div2 img {
  width: 90%;
}
@media (max-width: 830px) {
  .container3__div2__div2 img {
    width: 35%;
    padding-top: 5rem;
  }
}
@media (max-width: 665px) {
  .container3__div2__div2 img {
    width: 70%;
  }
}

.container4 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  margin: 5rem 0rem 10rem 0rem;
}
.container4__master {
  width: 60%;
}
@media (max-width: 1654px) {
  .container4__master {
    width: 65%;
  }
}
@media (max-width: 1410px) {
  .container4__master {
    width: 70%;
  }
}
@media (max-width: 1290px) {
  .container4__master {
    width: 80%;
  }
}
@media (max-width: 1105px) {
  .container4__master {
    width: 95%;
  }
}
@media (max-width: 877px) {
  .container4__master {
    width: 99%;
    margin: 0rem 0rem;
  }
}
@media (max-width: 830px) {
  .container4__master {
    margin-bottom: 0rem;
  }
}
@media (max-width: 665px) {
  .container4__master {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    width: 100%;
  }
}
.container4__section1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  gap: 0rem;
  margin-bottom: 4rem;
  width: 100%;
}
.container4__section1__div {
  position: relative;
}
.container4__section1__div svg {
  position: absolute;
  width: 6rem;
  height: 6rem;
  font-weight: 700;
  color: #ffd24a;
  top: -1.5rem;
}
@media (max-width: 877px) {
  .container4__section1__div svg:last-child {
    display: none;
  }
}
.container4__section1__div svg:first-child {
  top: -4rem;
}
@media (max-width: 877px) {
  .container4__section1__div svg:first-child {
    width: 4rem;
    height: 4rem;
    top: -2rem;
  }
}
.container4__section1__h1 {
  margin-left: 7rem;
  font-size: 5rem;
  font-weight: 100;
  text-align: left;
}
@media (max-width: 877px) {
  .container4__section1__h1 {
    font-size: 4rem;
    margin-left: 5rem;
  }
}
@media (max-width: 830px) {
  .container4__section1__h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 665px) {
  .container4__section1__h1 {
    font-size: 3rem;
  }
}
.container4__section1__h1 span {
  color: #256783;
  font-weight: 700;
}
.container4__section2 {
  display: grid;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  /*
  &__img1 {
    @include display_flex_align_justify_gap();
  }
  */
}
@media (max-width: 665px) {
  .container4__section2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 0rem;
  }
  .container4__section2__img1, .container4__section2__img2, .container4__section2__img3, .container4__section2__img4 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
  }
}
.container4__section2 img {
  width: 100%;
  border-radius: 3rem;
  padding: 2rem;
  transition: 0.2s ease-in-out;
}
@media (max-width: 665px) {
  .container4__section2 img {
    width: 90%;
    border-radius: 1rem;
    padding: 0rem;
  }
}
.container4__section2 img:hover {
  padding: 0rem;
  border-radius: 1rem;
}
.container4__section3 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}
.container4__section3__button {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 5rem 0rem;
  padding: 1rem 3rem;
  background-color: #ffd24a;
  border-radius: 2rem;
  font-weight: 700;
  border: 0.2rem solid rgb(99.5, 74.7624309392, 0);
  border-bottom-width: 0.45rem;
  border-right-width: 0.45rem;
  cursor: pointer;
}
@media (max-width: 877px) {
  .container4__section3__button {
    font-size: 1.8;
  }
}
@media (max-width: 830px) {
  .container4__section3__button {
    font-size: 1.5rem;
  }
}
@media (max-width: 459px) {
  .container4__section3__button {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
}
.container4__section3__button:hover {
  border: 0.3rem solid rgb(99.5, 74.7624309392, 0);
}

.container5 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  background-image: url("../imgs/Banner de fundo container 5.webp");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: cover;
  margin-top: -10rem;
  padding-top: 10rem;
}
@media (max-width: 665px) {
  .container5 {
    margin-top: -25rem;
    padding-top: 20rem;
  }
}
.container5__div1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
}
@media (max-width: 1654px) {
  .container5__div1 {
    width: 65%;
  }
}
@media (max-width: 1410px) {
  .container5__div1 {
    width: 70%;
  }
}
@media (max-width: 1290px) {
  .container5__div1 {
    width: 80%;
  }
}
@media (max-width: 1105px) {
  .container5__div1 {
    width: 95%;
  }
  .container5__div1 img {
    width: 45%;
  }
}
@media (max-width: 877px) {
  .container5__div1 {
    margin: 0rem 0rem;
  }
  .container5__div1 img {
    width: 40%;
  }
}
@media (max-width: 830px) {
  .container5__div1 {
    margin-bottom: 0rem;
  }
}
@media (max-width: 665px) {
  .container5__div1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    width: 100%;
  }
}
.container5__div1__description {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 55%;
  color: white;
}
@media (max-width: 877px) {
  .container5__div1__description {
    width: 60%;
    margin: 0rem 0rem;
  }
}
@media (max-width: 830px) {
  .container5__div1__description {
    margin-bottom: 0rem;
  }
}
@media (max-width: 665px) {
  .container5__div1__description {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-width: 35rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 459px) {
  .container5__div1__description {
    min-width: 80%;
  }
}
.container5__div1__description h1 {
  font-size: 2.5rem;
  border-left: 0.5rem solid #eebe2a;
  padding-left: 2rem;
}
@media (max-width: 1105px) {
  .container5__div1__description h1 {
    font-size: 2rem;
  }
}
@media (max-width: 830px) {
  .container5__div1__description h1 {
    font-size: 1.8rem;
  }
}
.container5__div1__description p {
  font-size: 1.8rem;
}
@media (max-width: 1105px) {
  .container5__div1__description p {
    font-size: 1.6rem;
  }
}
@media (max-width: 830px) {
  .container5__div1__description p {
    font-size: 1.4rem;
  }
}
.container5__div1__description span {
  color: #eebe2a;
  font-weight: 700;
}

.container6 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  background-color: rgb(254.4934210526, 254.5065789474, 254.5065789474);
  padding: 5rem 0rem;
}
@media (max-width: 1105px) {
  .container6 {
    padding: 2rem 0rem;
  }
}
@media (max-width: 665px) {
  .container6 {
    padding: 0rem;
  }
}
.container6__div {
  width: 60%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  padding-right: 5rem;
}
@media (max-width: 1654px) {
  .container6__div {
    width: 65%;
  }
}
@media (max-width: 1410px) {
  .container6__div {
    width: 70%;
  }
}
@media (max-width: 1290px) {
  .container6__div {
    width: 80%;
  }
}
@media (max-width: 1105px) {
  .container6__div {
    width: 95%;
    padding: 2rem 0rem;
  }
}
@media (max-width: 877px) {
  .container6__div {
    margin: 0rem 0rem;
  }
}
@media (max-width: 830px) {
  .container6__div {
    margin-bottom: 0rem;
  }
}
@media (max-width: 665px) {
  .container6__div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    width: 100%;
  }
}
.container6__div img {
  width: 4rem;
}
@media (max-width: 1105px) {
  .container6__div img {
    width: 3rem;
  }
}
.container6__div a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #4b4d4d;
}
@media (max-width: 1105px) {
  .container6__div a {
    font-size: 1.4;
  }
}
@media (max-width: 830px) {
  .container6__div a {
    font-size: 1.2rem;
  }
}

.container0 {
  position: relative;
}
.container0__div {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.63);
  backdrop-filter: blur(5px);
  height: 100dvh;
  width: 100vw;
}
.container0__div__div2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: inset 0rem 0rem 1rem rgb(176.9868421053, 179.0131578947, 179.0131578947);
  padding: 2rem 2rem;
  width: 20%;
}
.container0__div__div2 svg {
  color: #eebe2a;
  border: 0.15rem solid black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0.5rem, -0.5rem);
  cursor: pointer;
}
.container0__div__div2 input {
  width: 100%;
  font-size: 1.6rem;
  border-radius: 2rem;
  border: 0.2rem solid #eebe2a;
  margin-top: 1rem;
  padding: 0.4rem 0rem 0.4rem 1rem;
}
.container0__div__div2 button {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: #eebe2a;
  margin-top: 2rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.comp.css.map */
