//colors:
$blue-lighten: #038fc2; //use on the check
$yellow: #ffd24a; //used on the buttons
$blue-darken: #256783; //used on the title, subtitles ...
$blue-darkest: #1c415c; //used on container1
$gray: #4b4d4d;
$gray-darken: darken($gray, 10%);
$gray-lighten: lighten($gray, 10%);

@mixin display_flex_align_justify_gap(
  $display: flex,
  $flow: column,
  $align: center,
  $justify: center,
  $gap: 0rem
) {
  display: $display;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin screenView($parameter) {
  @if $parameter == "smallest" {
    @media (max-width: 459px) {
      @content;
    }
  } @else if $parameter == "small" {
    @media (max-width: 665px) {
      @content;
    }
  } @else if $parameter == "medium-small" {
    @media (max-width: 830px) {
      @content;
    }
  } @else if $parameter == "medium" {
    @media (max-width: 877px) {
      @content;
    }
  } @else if $parameter == "medium-big" {
    @media (max-width: 1105px) {
      @content;
    }
  } @else if $parameter == "big-small" {
    @media (max-width: 1270px) {
      @content;
    }
  } @else if $parameter == "big" {
    @media (max-width: 1379px) {
      @content;
    }
  } @else if $parameter == "biggest" {
    @media (max-width: 1654px) {
      @content;
    }
  }
}

/*
  @include screenView(biggest) //{ (1654px)
    }
    @include screenView(big) { //(1251px)
    }
    @include screenView(big-small) { //(1270px)
    }
    @include screenView(medium-big) { //(1105px)
    }
    @include screenView(medium) { //(877px)
    }
    @include screenView(medium-small) { //(813px)
    }
      @include screenView(small) { //(665px)
      }
    @include screenView(smallest) { //(459)
    }
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

//container1
.container1 {
  @include display_flex_align_justify_gap($gap: 0rem);
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  padding-top: 5rem;

  @include screenView(medium-big) {
    //(1030px)
    padding-top: 2rem;
  }
  @include screenView(medium-small) {
    //(813px)
    background-position: 90%;
  }

  &__div-master {
    @include display_flex_align_justify_gap($flow: row, $gap: 0rem);
    width: 60%;

    @include screenView(biggest) {
      //(1654px)
      width: 65%;
    }
    @include screenView(big) {
      //(1251px)
      width: 70%;
    }
    @include screenView(big-small) {
      //(1270px)
      width: 80%;
    }

    @include screenView(medium-big) {
      //(1030px)
      width: 85%;
    }
    @include screenView(medium) {
      //(877px)
      width: 95%;
    }
    @include screenView(medium-small) {
      //(813px)
      @include display_flex_align_justify_gap($flow: column, $gap: 3rem);
      margin-top: 5rem;
      width: 95%;
    }
    @include screenView(small) {
      //(665px)
      width: 100%;
    }
    // @include screenView(smallest) {
    //   //(459)
    // }
  }

  &__div {
    @include display_flex_align_justify_gap($gap: 0rem);
    flex-wrap: wrap;
    width: 45%;
    background-color: white;
    box-shadow: inset 0rem 0rem 2rem $gray-lighten;
    position: relative;
    padding: 2rem;
    border-radius: 3rem;
    margin-right: -5rem;

    @include screenView(big) {
      //(1251px)
      width: 45%;
    }

    @include screenView(big-small) {
      //(1270px)
      max-width: 60%;
    }

    @include screenView(medium-big) {
      //(1030px)
      max-width: 45%;
    }

    @include screenView(medium) {
      //(877px)
      padding: 1.5rem;
      max-width: 50%;
    }
    @include screenView(medium-small) {
      //(813px)
      margin-right: 0rem;
      min-width: 50%;
    }
    @include screenView(small) {
      //(665px)
      min-width: 60%;
    }
    @include screenView(smallest) {
      //(459)
      min-width: 85%;
    }
  }
  &__img {
    position: absolute;
    background-color: white;
    box-shadow: 0rem 0rem 1rem $gray;
    padding: 1rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    right: -2rem;
    top: -2rem;

    @include screenView(biggest) {
      width: 5.5rem;
      height: 5.5rem;
    }

    @include screenView(medium-big) {
      //(1030px)
      width: 5rem;
      height: 5rem;
    }
    @include screenView(medium) {
      //(877px)
      width: 4.5rem;
      height: 4.5rem;
      right: -1rem;
      top: -1rem;
    }
    @include screenView(small) {
      //(665px)
      width: 5rem;
      height: 5rem;
    }
  }

  &__h1 {
    font-size: 4.5rem;
    text-align: center;
    color: $blue-darkest;
    margin-bottom: 1rem;
    width: 95%;

    @include screenView(biggest) {
      font-size: 4rem;
    }
    @include screenView(big-small) {
      //(1270px)
      font-size: 3.5rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 3rem;
      margin-bottom: 0.2rem;
    }
    @include screenView(small) {
      //(665px)
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__p {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: darken($gray, 10%);
    margin-bottom: 1rem;

    @include screenView(biggest) {
      font-size: 2.5rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.6rem;
      margin-bottom: 0.2rem;
    }
    @include screenView(small) {
      //(665px)
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__ul {
    @include display_flex_align_justify_gap($gap: 0.5rem);
    font-size: 2rem;
    list-style: none;
    margin: 1rem 0rem;

    @include screenView(biggest) {
      font-size: 1.8rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.4rem;
      margin-bottom: 0.2rem;
    }
    @include screenView(small) {
      //(665px)
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    & li {
      color: $gray-lighten;
    }
    & svg {
      color: $blue-lighten;
    }
    & span {
      font-weight: 700;
      color: $gray;
    }
  }

  &__h2 {
    font-size: 2rem;
    color: $gray;
    margin-top: 0.5rem;
    @include screenView(biggest) {
      font-size: 2rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 1.8rem;
      margin-top: 0rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.6rem;
      margin-top: 1rem;
    }
    @include screenView(small) {
      //(665px)
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }
  &__button {
    background-color: $yellow;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
    margin: 1rem 0rem 0rem 0rem;
    border: 0.2rem solid black;
    border-bottom-width: 0.4rem;
    border-right-width: 0.4rem;
    cursor: pointer;

    &:hover {
      border: 0.3rem solid black;
    }

    @include screenView(biggest) {
      font-size: 1.6rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 1.5rem;
      margin: 1rem 0rem 0.5rem 0rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.2rem;
      margin: 0.5rem 0rem 0rem 0rem;
    }
    @include screenView(small) {
      //(665px)
      font-size: 1.5rem;
      margin: 1rem 0rem 0.5rem 0rem;
    }
  }

  &__div2 {
    width: 60%;

    @include screenView(medium) {
      //(877px)
      width: 70%;
    }

    &__img {
      width: 100%;

      @include screenView(big-small) {
        //(1251px)
        width: 100%;
      }

      @include screenView(medium) {
        //(877px)
        width: 90%;
        margin-left: 6rem;
      }

      @include screenView(small) {
        //(665px)
        // width: 80%;
        margin-left: 5rem;
      }
      @include screenView(smallest) {
        //(459)
        width: 105%;
        margin-left: 0rem;
      }
    }
  }
}

//container2
.container2 {
  @include display_flex_align_justify_gap();
  background-color: lighten($gray-lighten, 45%);
  padding: 5rem 0rem;

  @include screenView(medium-big) {
    //(1030px)
    padding: 2.5rem 0rem;
  }
  @include screenView(medium) {
    //(1030px)
    padding: 1.5rem 0rem;
  }
  &__div3 {
    width: 60%;

    @include screenView(biggest) {
      width: 80%;
    }
    &__p {
      font-size: 1.5rem;
      font-weight: 100;
      color: $gray-lighten;

      @include screenView(medium-big) {
        //(1030px)
        font-size: 1.2rem;
      }

      @include screenView(medium) {
        //(1030px)
        font-size: 1rem;
      }
      @include screenView(small) {
        //(665px)
        font-size: 1.2rem;
      }
    }
  }
}

//conteiner3
.container3 {
  @include display_flex_align_justify_gap($flow: column, $justify: center);
  margin: 5rem 0rem;

  &__div1 {
    @include display_flex_align_justify_gap($flow: row, $justify: left);
    width: 60%;
    margin-bottom: 3rem;

    @include screenView(biggest) {
      //(1654px)
      width: 65%;
    }
    @include screenView(big) {
      //(1251px)
      width: 70%;
    }
    @include screenView(big-small) {
      //(1270px)
      width: 80%;
    }

    @include screenView(medium-big) {
      //(1030px)
      width: 95%;
    }
    @include screenView(medium) {
      //(877px)
      width: 99%;
    }
    @include screenView(medium-small) {
      //(813px)
    }
    @include screenView(small) {
      //(665px)
      @include display_flex_align_justify_gap($flow: column, $gap: 3rem);
      // width: 100%;
    }

    &__svg {
      position: relative;
      & svg {
        width: 6rem;
        height: 6rem;
        font-weight: 700;
        color: $yellow;
      }
      & svg:last-child {
        margin-left: -4.5rem;
      }
    }
    &__h1 {
      font-size: 5rem;
      font-weight: 100;
      & span {
        font-weight: 700;
        color: $blue-darken;
      }
    }
  }
  &__div2 {
    @include display_flex_align_justify_gap($display: grid, $gap: 0rem);
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    width: 60%;
    margin-bottom: 3rem;

    @include screenView(biggest) {
      //(1654px)
      width: 65%;
    }
    @include screenView(big) {
      //(1251px)
      width: 70%;
    }
    @include screenView(big-small) {
      //(1270px)
      width: 80%;
    }

    @include screenView(medium-big) {
      //(1030px)
      width: 95%;
    }
    @include screenView(medium) {
      //(877px)
      width: 99%;
    }
    @include screenView(medium-small) {
      //(813px)
      grid-template-columns: repeat(2, 33%);
      grid-template-rows: repeat(3, 50%);

      .container3 {
        width: max-content;
        &__div2__div2 {
          grid-column: 1/2;
          grid-row: 3/3;
          align-self: center;
        }
      }
    }
    @include screenView(small) {
      @include display_flex_align_justify_gap($flow: column, $gap: 3rem);

      //(665px)
      // width: 100%;
    }
    //CONTINUE FROM HERE *******************
    &__div1,
    &__div3,
    &__div4,
    &__div5 {
      margin-bottom: 5rem;
      height: 15rem;
      width: 35rem;
      & div {
        @include display_flex_align_justify_gap(
          $flow: row,
          $justify: left,
          $gap: 2rem
        );
        color: $blue-darken;
        margin-bottom: 1rem;

        & svg {
          width: 4rem;
          height: 4rem;
        }
        & h2 {
          font-size: 2.5rem;
        }
      }
      & p {
        font-size: 1.8rem;
        color: $gray;
        & span {
          font-weight: 700;
        }
      }
    }

    &__div2 {
      @include display_flex_align_justify_gap();
      grid-column: 2;
      grid-row: span 2;
      & img {
        width: 80%;
      }
    }
  }
}
