//colors:
$blue-lighten: #038fc2; //use on the check
$yellow: #ffd24a; //used on the buttons
$blue-darken: #256783; //used on the title, subtitles ...
$blue-darkest: #1c415c; //used on container1
$gray: #4b4d4d;
$gray-darken: darken($gray, 10%);
$gray-lighten: lighten($gray, 10%);

@mixin display_flex_align_justify_gap(
  $display: flex,
  $flow: column,
  $align: center,
  $justify: center,
  $gap: 0rem
) {
  display: $display;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin screenView($parameter) {
  @if $parameter == "smallest" {
    @media (max-width: 380px) {
      @content;
    }
  } @else if $parameter == "small" {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $parameter == "medium-small" {
    @media (max-width: 560px) {
      @content;
    }
  } @else if $parameter == "medium" {
    @media (max-width: 877px) {
      @content;
    }
  } @else if $parameter == "medium-big" {
    @media (max-width: 1030px) {
      @content;
    }
  } @else if $parameter == "big" {
    @media (max-width: 1251px) {
      @content;
    }
  } @else {
    @media (max-width: 1382px) {
      @content;
    }
  }
}

/*
  @include screenView(biggest) //{ (1382px)
    }
    @include screenView(big) { //(1251px)
    }
    @include screenView(medium-big) { //(1030px)
    }
    @include screenView(medium) { //(877px)
    }
    @include screenView(medium-small) {
    }
    @include screenView(medium-small) {
    }
    @include screenView(small) {
    }
    @include screenView(smallest) {
    }
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

//container1
.container1 {
  @include display_flex_align_justify_gap($gap: 0rem);
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45%;
  padding-top: 5rem;

  @include screenView(medium-big) {
    //(1030px)
    padding-top: 2rem;
  }

  &__div-master {
    @include display_flex_align_justify_gap($flow: row, $gap: 0rem);
    width: 80%;

    @include screenView(biggest) {
      width: 95%;
    }
    @include screenView(big) {
      width: 100%;
    }
  }
  &__div {
    @include display_flex_align_justify_gap($gap: 0rem);
    min-width: 35%;
    max-width: 35%;
    background-color: white;
    box-shadow: inset 0rem 0rem 2rem $gray-lighten;
    position: relative;
    padding: 2rem;
    border-radius: 3rem;
    margin-right: -5rem;

    @include screenView(medium-big) {
      //(1030px)
      min-width: 45%;
      max-width: 45%;
    }

    @include screenView(medium) {
      //(877px)
      padding: 1.5rem;
      min-width: 50%;
      max-width: 40%;
    }
  }
  &__img {
    position: absolute;
    background-color: white;
    box-shadow: 0rem 0rem 1rem $gray;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    right: -2rem;
    top: -2rem;

    @include screenView(biggest) {
      width: 6.5rem;
      height: 6.5rem;
    }

    @include screenView(medium-big) {
      //(1030px)
      width: 6rem;
      height: 6rem;
    }
    @include screenView(medium) {
      //(877px)
      width: 4.5rem;
      height: 4.5rem;
      right: -1rem;
      top: -1rem;
    }
  }

  &__h1 {
    font-size: 4rem;
    text-align: center;
    color: $blue-darkest;
    margin-bottom: 1rem;
    width: 90%;

    @include screenView(biggest) {
      font-size: 3.5rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 2rem;
      margin-bottom: 0.2rem;
    }
  }

  &__p {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: darken($gray, 10%);
    margin-bottom: 1rem;

    @include screenView(biggest) {
      font-size: 2rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.6rem;
      margin-bottom: 0.2rem;
    }
  }

  &__ul {
    @include display_flex_align_justify_gap($gap: 0.5rem);
    font-size: 1.8rem;
    list-style: none;
    margin: 1rem 0rem;

    @include screenView(biggest) {
      font-size: 1.6rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.4rem;
      margin-bottom: 0.2rem;
    }

    & li {
      color: $gray-lighten;
    }
    & svg {
      color: $blue-lighten;
    }
    & span {
      font-weight: 700;
      color: $gray;
    }
  }

  &__h2 {
    font-size: 2.5rem;
    color: $gray;
    margin-top: 0.5rem;
    @include screenView(biggest) {
      font-size: 2rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 1.8rem;
      margin-top: 0rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }
  &__button {
    background-color: $yellow;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
    margin: 2rem 0rem 1rem 0rem;
    border: 0.2rem solid black;
    border-bottom-width: 0.4rem;
    border-right-width: 0.4rem;
    cursor: pointer;

    &:hover {
      border: 0.3rem solid black;
    }

    @include screenView(biggest) {
      font-size: 1.6rem;
    }
    @include screenView(medium-big) {
      //(1030px)
      font-size: 1.5rem;
      margin: 1rem 0rem 0.5rem 0rem;
    }
    @include screenView(medium) {
      //(877px)
      font-size: 1.2rem;
      margin: 0.5rem 0rem 0rem 0rem;
    }
  }

  &__div2 {
    width: 55%;
    margin-left: -5rem;

    @include screenView(medium-big) {
      //(1030px)
      margin-right: -8rem;
      margin-left: 0rem;
    }

    &__img {
      width: 100%;

      @include screenView(medium-big) {
        //(1030px)
        width: 90%;
      }
    }
  }
}

//container2
.container2 {
  @include display_flex_align_justify_gap();
  background-color: lighten($gray-lighten, 45%);
  padding: 5rem 0rem;

  @include screenView(medium-big) {
    //(1030px)
    padding: 2.5rem 0rem;
  }
  @include screenView(medium) {
    //(1030px)
    padding: 1.5rem 0rem;
  }
  &__div3 {
    width: 60%;

    @include screenView(biggest) {
      width: 80%;
    }
    &__p {
      font-size: 1.5rem;
      font-weight: 100;
      color: $gray-lighten;

      @include screenView(medium-big) {
        //(1030px)
        font-size: 1.2rem;
      }

      @include screenView(medium) {
        //(1030px)
        font-size: 1rem;
      }
    }
  }
}
